/* STATUS BAR */
QStatusBar#status_bar {
    color: #F6F6F6;
}

/* LOGIN SCREEN */
QLabel#login_titles {
    color: #FFFFFF;
    font: 18px
}

QLabel#login_screen_labels {
    color: #FFFFFF;
}

QPushButton#login_screen_forgot_password{
    border: none;
    color: #FFFFFF;
    background: transparent;
}
QPushButton#login_screen_forgot_password:hover {
    color: cyan;
}
QPushButton#login_screen_forgot_password:pressed {
    color: blue;
}

QPushButton#student_login_button {
    border: red;
    color: #FFFFFF;
    background: red;
}
QPushButton#student_login_button:hover {
    background: #FF2E2E;
}
QPushButton#student_login_button:pressed {
    color: red;
    background: #FFFFFF;
}

QPushButton#administrator_login_button {
    border: red;
    color: #FFFFFF;
    background: red;
}
QPushButton#administrator_login_button:hover {
    background: #FF2E2E;
}
QPushButton#administrator_login_button:pressed {
    color: red;
    background: #FFFFFF;
}

QFrame#login_screen_elements {
    color: #FFFFFF;
}

/* HOME PAGE */
QLabel#intro_label {
    color: #FFFFFF;
    font: bold 32px;
}

QWidget#central_widget {
    background-color: #CD0000;
}

QWidget#tab_widget {
    background-color: #e8e8eb;
}

/* Dashboard */
QLabel#dashboard_label {
    font: bold 30px;
}

QFrame#dashboard_title_line {
    background-color: black;
}

QLabel#dashboard_announcement_label {
    font: 20px;
    color: darkcyan;
    background-color: dimgrey;
}

QLabel#dashboard_upcoming_events_label {
    font: 20px;
    color: darkblue;
    background-color: pink;
}


/* Upcoming Events */

QLabel#upcoming_events_label {
    font: bold 30px;
}

QFrame#upcoming_events_title_line {
    background-color: black;
}

/* Points */

QLabel#points_label {
    font: bold 30px;
}

QFrame#points_title_line {
    background-color: black;
}

/* Student Profile */

QLabel#student_profile_label {
    font: bold 30px;
}

QFrame#student_profile_title_line {
    background-color: black;
}
